/* CSS RESET */
*,*::after,*::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans',sans-serif;
}

header{
    display: block;
    font-size:2.4rem;
    margin-top:2rem;
    margin-bottom: 3rem;
    text-align: center;
    background: -webkit-linear-gradient(rgba(185, 42, 17, 0.815),yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* Designing the background */
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(17deg,
    rgb(131, 54, 67),rgb(39, 39, 92));
}

/* the container for the calci div */
.container{
    display: flex;
    height:35rem;
    width:20rem;
    margin:2rem auto;
    border:4px solid blue;
    border-radius: 22px;
    position: relative;
    outline:5px solid rgb(145, 143, 23);
    outline-offset: 8px;
    overflow-x: hidden;
}

/* contains the whole calculator */
.calci{
    display: block;
    width:31rem;
    padding-top:4rem;
    position: absolute;
    left:2.5rem;

}

/* the display panel */
#display{
    border:none;
    background-color: black;
    border-radius: 20px;
    font-size: 20px;
    width:14.8rem;
    font-weight: 300;
    height: 60px;
    margin:auto;
    border:2px solid hotpink;
    color:white;
    text-align: right;
    text-shadow: 0 0 5px blue;
}

#display:hover{
    background: hotpink;
    color:black;
    border-color:black;
}



/* numeric keypad */
.numdesign{
    width:50px;
    height:50px;
    padding-top:-1;
    border:3px solid rgba(224, 176, 17, 0.925);
    font-size: 20px;
    font-weight: 300;
    border-radius:10px;
    margin:3px;
    background: black;
    color:white;
    cursor:pointer;
    box-shadow: 0 3px 10px black;
}
.numdesign:hover{
    background-color:rgba(224, 176, 17, 0.925);
    border-color:black;
    color:black;
    transform:scale(1.1);
    transition: transform 500ms ease;
}

/* mathematical operators */
.operator{
    width:50px;
    height:50px;
    padding-top:-1;
    border:3px solid rgba(123, 173, 41, 0.815);   
    font-size: 20px;
    font-weight: 300;
    border-radius:10px;
    margin:3px;
    background: black;
    color:white;
    box-shadow: 0 3px 10px black;
    cursor:pointer;
    
}
.operator:hover{
    background:rgba(123, 173, 41, 0.815);
    color:black;
    border-color:black;
    transform:scale(1.1);
    transition: transform 500ms ease;

}

/* customized zero button */
#zero{
    width:112px;
    height:50px;
    padding-top:-1;
    border:3px solid rgb(223, 108, 14);
    font-size: 20px;
    font-weight: 300;
    border-radius:10px;
    margin:3px;
    background: black;
    color:white;
    box-shadow: 0 3px 10px black;
    cursor:pointer;
}

#zero:hover{
    background-color: rgb(223, 108, 14);
    color:black;
    border-color:black;
    transform:scale(1.05);
    transition: transform 600ms ease;
}

/* footer */
.footer{
    padding-top:2rem;
    display: block;
    text-align: center;
    font-size:1.2rem;
    color:white;
}

/* mobile responsive */
@media screen and (max-width:500px){
    body{
        margin:auto;
        overflow-x:hidden;
        align-items: center;
        background: black;
    }
    header{
        display: block;
        font-size: 2rem;
    }
    .container{
        border:none;
        outline:none;
    }
    .footer{
        font-size:14px;
    }
}
